$black: #000000;
$white: #ffffff;
$gray: #737373;
$darkgray: darken($gray, 70%);
$lightgray: lighten($gray, 70%);

$seablue: #0f9bf6;
$platzibg: #234050;
$platzigreen: #97c93e;

$error: #db2828;
$success: #21ba45;
$alert: #fbbd07;
$info: #6435c9;
