.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: $theme-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: choose-contrast-color($theme-color);
  transition: 1s;
  will-change: background-color;
  @include mobile {
    background-color: #e8f5f8;
    color: choose-contrast-color(#e8f5f8);
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@include mobile {
  .App-logo {
    animation: App-logo-spin infinite 2s alternate;
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg) scale(0.7);
    }
    to {
      transform: rotate(360deg) scale(1);
    }
  }
}
